body{
	background-image: url ('http://imgur.com/nOzSMyM.jpg');
}

#indexDiv{
		margin:auto;
        width:1000px; 
        height:1000px;
        background-color:silver;
        border: 3px solid black;
}  
body h1{
	color:#34c6e7;
	text-align:center; 
	font-size:75px;
        font-family:sans-serif;
        text-outline:75px #000000;

}
#jumbotron h1 {
	background-image: url('http://i.imgur.com/e3J8TuX.jpg');
}
#container li {
	color:#aa00aa;
}
