body{
	background-color:silver
}
#indexDiv{
		margin:auto;
        width:1000px; 
        height:2690px;
        background-color:white;
      
}  
body h1{
	color:#ffaa00;

}
#jumbotron {
	background-image: url('http://i.imgur.com/e3J8TuX.jpg');
}
