body{
	background-color:#555555
}
#indexDiv{
		margin:auto;
        width:1000px; 
        height:2690px;
        background-color:silver;
      
}  
body h1{
	color:orange;
	text-align:center; 
	font-size:25px;
        font-family:sans-serif;
}
#jumbotron h1 {
	background-image: url('http://i.imgur.com/e3J8TuX.jpg');
}
