body{
	background-image: url('http://imgur.com/nOzSMyM.jpg');
	background-repeat: no-repeat;
}

#indexDiv{
	margin:auto;
        width:1000px; 
        height:1000px;
        background-color:silver;
        border: 3px solid black;
}  
body h1{
	color:#34c6e7;
	text-align:center; 
	font-size:75px;
        font-family:sans-serif;
        border:3px solid orange;

}
#jumbotron h1{
	background-image: url('http://i.imgur.com/0YJZWh4.png');
}
#container{
	color:#aa00aa;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:underline
}
