body{
	background-image: url('http://imgur.com/nOzSMyM.jpg');
    background-repeat: no-repeat;
}
#header{
	height:150px;
	background-color:#D3FFCE;
	border: 10px solid #324ccc;
	border-radius:20px;
	padding:20px;
    text-align: center;
}
#footer{
	height:300px;
	background-color:#D3FFCE;
	border: 10px solid #324ccc;
    border-radius:20px;
	padding:20px;
}	
#intro{
    text-align:center;
}
#goals{
    border:none;
    margin-left:auto;
    margin-right:auto;
}
#topic{
    color:blue;
}
#mainDiv{
	text-align:center;
}
ul{
	display:inline-block;
    text-align:left
}
a{
    text-decoration:none;
    color: #3399FF;
}
a:hover{
    text-decoration:underline;
}
a:visited{
    color:purple;
}
a:link{
	color:blue;
}