body{
	background-image: url('http://imgur.com/nOzSMyM.jpg');
    background-repeat: no-repeat;
}
#header{
	height:150px;
	background-color:#68685A;
	border: 5px solid black;
	border-radius:20px;
	padding:20px;
}
#footer{
	height:250px;
	background-color:#828270;
	border: 5px solid;
	padding:20px;
}	
#intro{
    text-align:center;
}
#goals{
    border:none;
    margin-left:auto;
    margin-right:auto;
}
#topic{
    color:blue;
}
a{
    text-decoration:none;
    color: #3399FF;
}
a:hover{
    text-decoration:underline;
}
a:visited{
    color:purple;
}
a:link{
	color:blue;
}
#topic{
    color:blue;
}